
footer .container{
    width: 100%;

}

footer a {
    clear: both;
    text-decoration: none;
    color: white;
}

/*Footer escuro*/

ul {
    margin: 0px;
    padding: 0px;
}

.footer-section {
    margin-bottom: 0;
    margin-top: 60px;
    background: var(--color-base);
    position: relative;
    text-transform: uppercase;

    }

.footer-cta {
    border-bottom: 1px solid #373636;
    }

.single-cta i {
    padding: 0 50px;
    color: var(--white-color);
    font-size: 30px;
    float: left;

    }

.cta-text {
    padding-left: 12px;
    display: inline-block;
    }

.cta-text h4 {
    color: var(--white-color);
    font-size: 15px;
    margin-bottom: 2px;
    }

.cta-text span {
    color: var(--white-color);
    font-size: 15px;
    }

.footer-content {
    position: relative;
    z-index: 2;
    }




.footer-text p {
    margin-bottom: 12px;
    font-size: 14px;
    color: var(--white-color);
    line-height: 28px;
    }

.footer-widget-heading h3 {
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;
    }

.footer-widget ul li {
    text-align: center;
    display: inline-block;
    float: left;
    width: 50%;
    margin-bottom: 20px;
    }

.footer-widget ul li a:hover{
    color: var(--primary-color);
    }

.footer-widget ul li a {
    color: var(--white-color);
    text-transform: capitalize;
    }

.subscribe-form {
    position: relative;
    overflow: hidden;
    }

.subscribe-form input {
    width: 100%;
    padding: 14px 28px;
    background: var(--white-color);
    color: var(--white-color);
    }

.subscribe-form button {
    position: absolute;
    right: 0;
    background: var(--white-color);
    padding: 15px 15PX;
    top: 0;
    }

.subscribe-form button i {
    color: #000;
    background-color: var(--white-color);
    font-size: 22px;
    border: none;
    }

.subscribe-form button:hover{
    background-color: var(--color-base);
    color: var(--white-color);
    }

.subscribe-form button i:hover {
    background-color: #022154;
    color: var(--white-color);
    }

.rodape-real{
    margin-top: 0;
    margin-bottom: 0;
    background-color: var(--color-b);
    color: var(--white-color);

    display: block;
    text-transform: uppercase;
    text-align: center;

    }

.rodape-real:hover{
    background-color: var(--color-b);
    color: var(--white-color);
    }
