.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--white-color);
}

.menu h1 a {
  color: inherit;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--white-color);
  position: relative;
  text-decoration: none;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 0.2rem;
  background: var(--secondary-color); 
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;
}

/*Linguagens*/
.language {
  position: relative;
  width: 120px;
  margin-left: 40px;
  font-weight: bold;
}
.language-selected {
  display: flex;   
  align-items: center;
  color: var(--white-color);
  cursor: pointer;
}
.language-selected:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
}


.language ul {
  position: absolute;
  width: 140px;
  background-color: var(--color-base);
  border: 1px solid var(--white-color);
  padding-top: 10px;
  display: none;
}

.language ul li {
  list-style: none;
}

.language ul li a {
  display: block;
  color: var(--white-color);
  padding: 5px 10px;
}

.language ul li:hover {
  background-color: var(--color-base);
}

.language ul li a:before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 10px;
}

.language:hover ul {
  display: block;
}